pkgbase = miracle-wm-ninja
	pkgdesc = Wayland compositor based on mir
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/miracle-wm-org/miracle-wm
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = nlohmann-json
	makedepends = ninja
	makedepends = glm
	makedepends = boost
	depends = mir
	depends = libglvnd
	depends = yaml-cpp
	depends = bash
	depends = json-c
	depends = libgcc
	depends = libstdc++
	depends = glib2
	depends = pcre2
	depends = glibc
	depends = wayland
	depends = python
	depends = python-tenacity
	depends = python-dbus-next
	depends = libxkbcommon
	provides = miracle-wm
	conflicts = miracle-wm
	source = miracle-wm-0.9.0.tar.gz::https://github.com/miracle-wm-org/miracle-wm/archive/refs/tags/v0.9.0.tar.gz
	sha256sums = b22fcd05033812c4ee505bc29a882c41d61eaa67469a3e0422ea76fff2702f05

pkgname = miracle-wm-ninja
